body {
		 font-family: 'Noto Sans TC', sans-serif;
		 color:#ebb615;
		 background-color: #317d0b;
background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Noto Sans TC', sans-serif;
	color:#2d15e6;
	text-transform:none;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	coior:#0000ff;
	text-transform:none;
}

.bg-primary{
   background-color: #1e16f7!important;
background-image: url("https://www.transparenttextures.com/patterns/my-little-plaid-dark.png");
}
.text-primary {
    color:#2d15e6!important;
}
a {
    color: #009600;
}

.social-icons a:hover {
	background-color:#008808;
}
 .dev-icons .list-inline-item i:hover {
	color:#008808;
}
table {width: 80%;}
th, td: {text-align: justify;}
td {border-bottom:1px solid #;}
td {
background-color: #0d8f11;
background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}
div#flex_container{
     display:flex;
      flex-wrap:wrap;
      justify-content:space-around;
      padding:1.5rem;
	flex-direction:row;
}
child_div{
  font-size:1.5rem;
  margin:1.5rem;
}	
child_div p{
display:block;
margin:1.5rem;
border:3px;	
}








