body {
		 font-family: 'Noto Sans TC', sans-serif;
		 color:#2f24b2;
	}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Noto Sans TC', sans-serif;
	color:#583eff;
	text-transform:none;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	coior:#0000ff;
	text-transform:none;
}

.bg-primary{
        background-color: #0600c2!important;
        background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.text-primary {
    color:#00943a!important;
}
a {
    color: #009600;
}

.social-icons a:hover {
	background-color:#008808;
}
 .dev-icons .list-inline-item i:hover {
	color:#008808;
}
table {width: 80%;}
th, td: {text-align: justify;}
td {border-bottom:1px solid #3f294a;}
td {
	color:#0000ff;
}
	









